HOST_UID=1000
HOST_GID=1000
DOCKER_GID=

APP_SERVER_NAME=pzadmin
APP_XDEBUG=true
APP_VITE_DEV=true
APP_NGINX_HTTP=80
APP_NGINX_HTTPS=8433

STORAGE_PREFIX=.
STORAGE_APP=./..
STORAGE_SQLITE=${STORAGE_APP}/database/
STORAGE_NGINX=${STORAGE_PREFIX}/nginx/storage
STORAGE_FPM=${STORAGE_PREFIX}/fpm/storage
STORAGE_ZOMBOID=${STORAGE_PREFIX}/zomboid/storage
STORAGE_ZOMBOID_DATA=${STORAGE_ZOMBOID}/data
STORAGE_ZOMBOID_MODS=${STORAGE_ZOMBOID}/workshop-mods

DOCKER_SOCKET=/var/run/docker.sock

#ZOMBOID SERVER
# Empty Strings are ignored or equivalent to false
ZOMBOID_NO_STEAM=False
ZOMBOID_CACHE_DIR=
ZOMBOID_MOD_FOLDERS=workshop,steam,mods
ZOMBOID_DEBUG=False
ZOMBOID_ADMIN_PASSWORD=ChangeMePlease
ZOMBOID_SERVER_NAME=${APP_SERVER_NAME}
ZOMBOID_SERVER_PRESET=
ZOMBOID_SERVER_PASSWORD=
ZOMBOID_HOST_IP=127.0.0.1
ZOMBOID_STEAM_VAC=True
ZOMBOID_PORT_1=16261
ZOMBOID_PORT_2=16262
ZOMBOID_STEAM_PORT_1=8766
ZOMBOID_STEAM_PORT_2=8767
ZOMBOID_RCON_PORT=27015
ZOMBOID_RCON_PASSWORD=12345678
ZOMBOID_MOD_IDS=
ZOMBOID_WORKSHOP_IDS=
ZOMBOID_XMX=8g
ZOMBOID_XMS=4g
ZOMBOID_BETA=unstable
